<div class="article-inner" itemscope itemtype="http://schema.org/NewsArticle">
  <meta itemprop="datePublished" content="{{article.created_at | date: ''}}"/>
  <meta itemprop="dateModified" content="{{article.published_at | date: ''}}"/>
  <meta itemscope itemprop="mainEntityOfPage"  itemType="https://schema.org/WebPage" itemid="{{ article.url }}"/>
  {% paginate article.comments by 100 %}
  <div itemprop="publisher" itemscope itemtype="https://schema.org/Organization">
    <div itemprop="logo" itemscope itemtype="https://schema.org/ImageObject">
      <meta itemprop="url" content="https:{{article.image | img_url: 'master'}}">
    </div>
    <meta itemprop="name" content="Shopify">
  </div>
  <div id="article">
    <div class="col-sm-9 article">
      <!-- Begin article -->
      <div class="article-body clearfix">
        <div class="group-blog-top">
          <div class="top-banner article_banner_show article-image" itemprop="image" itemscope itemtype="https://schema.org/ImageObject">  
            <img src="{{article.image | img_url: 'master'}}" alt="" />
            <meta itemprop="url" content="https:{{article.image | img_url: 'master'}}">
            <meta itemprop="width" content="863">
    		<meta itemprop="height" content="575">
          </div>
          <div class="article-title">                    
            <h1 class="article-name" itemprop="headline">{{ article.title }}</h1>
          </div>
          <ul class="article-info list-inline">
            <li class="article-date"><span>{{article.published_at | date: '%b %d, %Y'}}</span></li> 
            <li class="article-author" itemprop="author" itemscope itemtype="https://schema.org/Person">
           	  <span>{{ 'blogs.comments.by' |t }}</span>
              <span itemprop="name">{{article.author}}</span>
            </li> 
            <li class="article-comment">
              <a href="{{article.url}}#comments">
                {% assign comments_count1 = article.comments_count %}
                <span>{{ article.comments_count }}</span> {{ article.comments_count | pluralize: 'Comment', 'Comment(s)' }}
              </a>              
            </li>                                          
          </ul>
        </div>
        <div class="articleinfo_group">
          <div id="article-content" itemprop="description">
            {{ article.content }}
          </div>
          <div class="group-blog-btm">  
            <div class="tags-area col-sm-6">
              <span class="btm-title">{{ 'blogs.article.tags' |t }} : </span>
              {% for tag in article.tags %}
              {% if tag == article.tags.last %} {{ tag | link_to_tag: tag }} {% else %} {{ tag | link_to_tag: tag }} {% endif%}
              {% endfor %}
            </div>
            {% if settings.social_sharing_blog %}
            <div class="share-with supports-fontface col-sm-6">
              <span class="btm-title">{{ 'blogs.article.share' |t }}: </span>
              {% include 'social-sharing-product' %}
            </div>
            {% endif %}
          </div>
        </div>                
      </div>
      <!-- End article -->  
      <!-- Related Posts  -->
      <div class="related-body clearfix">
        <span class="related-title article-title"><h2>{{ 'blogs.article.related_post' |t }}</h2></span>
        <div class="related-content">
          <div class="related-content-inner related-blog-slider">
          {% for related in blog.articles %}           
          {% if related.id != article.id %}
          <div class="related-inner">
            {% include 'article-related' %}
          </div>
          {% endif %}
          {% endfor %}
        </div>
        </div>
      </div>
      <!-- End Related Posts -->
      <!-- Begin comments -->
      {% if blog.comments_enabled? %}
      <div id="comments" class="comments">
        <ul class="nav nav-tabs">
          <li class="comment-title active">
            <a href="#comment_tab_1" data-toggle="tab">
              {{ 'blogs.comments.title' | t }}
            </a>
          </li>
          <li class="comment-title">
            <a href="#comment_tab_2" data-toggle="tab">
              {{ 'blogs.comments.form_title' | t }}
            </a>
          </li>
        </ul>
        <div class="tab-content">
          <div class="tab-pane active" id="comment_tab_1">
            {% if article.comments.size > 0 or comment.created_at %}
            {% for comment in article.comments %}
            <div id="comment-{{ comment.id }}" class="comment border-bottom clearfix">
              <div class="cmt-author"><b>{{ comment.author }}</b></div>                    
              <div class="cmt-date">
                <span class="date-hour">
                  {{ comment.created_at | date: '%H:%M'}}  
                </span>
                <span class="date-day">
                  {{ comment.created_at | date: '%A.%d %B %Y'}}  
                </span>
              </div>                       
              <div class="cmt-content">{{ comment.content }}</div>          
            </div>
            {% endfor %}
            {% endif %}
          </div>
          <div class="tab-pane" id="comment_tab_2">
            {% form "new_comment", article %}
          <h2 class="article-title"><span>{{ 'blogs.comments.form_title' | t }}</span></h2>  
          <div class="group_form">
            {% if form.posted_successfully? %}
            {% if blog.moderated? %}
            <div class="col-sm-12">
              <p class="subtext success">{{ 'blogs.comments.success_moderated' | t }}</p>
            </div>
            {% else %}
            <div class="col-sm-12">
              <p class="subtext success">{{ 'blogs.comments.success' | t }}</p>
            </div>
            {% endif %}
            {% endif %}
            {% if form.errors %}
            <div class="col-sm-12">
              <p class="subtext error">{{ 'blogs.comments.error' | t }}</p>
            </div>                  
            {% endif %}
            <div class="col-sm-6">
              <div class="form-item">
                <label for="comment_author">{{ 'blogs.comments.name' | t }}</label>
                <input type="text" id="comment_author" name="comment[author]" size="40" class="text" />
              </div>
              <div class="form-item">
                <label for="comment_email">{{ 'blogs.comments.email' | t }}</label>
                <input type="text" id="comment_email" name="comment[email]" size="40" class="text" />
              </div>
            </div>                         
            <div class="col-sm-6">
              <label for="comment_body">{{ 'blogs.comments.message' | t }}</label>
              <textarea id="comment_body" name="comment[body]" cols="40" rows="5" class="text">{{form.body}}</textarea>
            </div>
            <div class="col-sm-12">
              <input type="submit" value="{{ 'blogs.comments.post' | t }}" class="_btn" id="comment-submit" />
            </div>
            {% if blog.moderated? %}
            <div class="col-sm-12">
              <div class="notice">{{ 'blogs.comments.moderated' | t }}</div>
            </div>
            {% endif %}
          </div>
          {% endform %}
          </div>
        </div>
      </div>
      {% endif %}
      <!-- End comments -->
    </div>  
    <div class="col-sm-3 sidebar-blog sidebar">
      {% include 'blog-sidebar' %}
    </div> 
  </div>
  {% endpaginate %}          
</div>