<div class="collection-inner collection-sidebar">
  <!-- Tags loading -->
  <div id="tags-load" style="display:none;"><i class="fa fa-spinner fa-pulse fa-2x"></i></div>
  <div id="collection"><div class="clearfix">
    {% paginate collection.products by section.settings.pagination_limit %} 
    <div class="collection-toolbar _mobile col-sm-9">
      {% if section.settings.collection_banner %}
      <a href="{{ section.settings.collection_banner_link }}" class="collection-banner-top">
        <img src="{{ section.settings.collection_banner | img_url: '', crop: '' | split:'?v=' | first }}" alt="{{ section.settings.collection_banner.alt }}" title="{{ section.settings.collection_banner.alt }}">
      </a>
      {% endif %}
      <div class="group_toolbar">
        <div class="group-left">
          <div class="filter-mobile">
            <a href="javascript:void(0)" class="filter-icon"> 
              <span class="cs-icon icon-filter"></span>
            </a>
          </div>
          <!-- Sort by -->
          {% if section.settings.collection_sort and collection.products_count > 1 %}
          <div class="sortBy">
            <div id="sortButtonWarper" class="dropdown-toggle" data-toggle="dropdown">
              <span class="toolbar-title">{{'collections.sorting.title'|t}}</span>
              <button id="sortButton">
                <span class="name">{{'collections.sorting.featured'|t}}</span><i class="fa fa-caret-down"></i>
              </button>
              <i class="sub-dropdown1"></i>
              <i class="sub-dropdown"></i>
            </div>
            <div id="sortBox" class="control-container dropdown-menu">
              <ul id="sortForm" class="list-unstyled option-set text-left list-styled" data-option-key="sortBy">
                <li class="sort manual"><a href="{% if collection.handle == "all" %}/collections/all{% else %}{{ collection.url }}{% endif %}/?sort_by=manual">{{'collections.sorting.featured'|t}}</a></li>
                <li class="sort price-ascending"><a href="{% if collection.handle == "all" %}/collections/all{% else %}{{ collection.url }}{% endif %}/?sort_by=price-ascending">{{'collections.sorting.price_ascending'|t}}</a></li>
                <li class="sort price-descending"><a href="{% if collection.handle == "all" %}/collections/all{% else %}{{ collection.url }}{% endif %}/?sort_by=price-descending">{{'collections.sorting.price_descending'|t}}</a></li>
                <li class="sort title-ascending"><a href="{% if collection.handle == "all" %}/collections/all{% else %}{{ collection.url }}{% endif %}/?sort_by=title-ascending">{{'collections.sorting.az'|t}}</a></li>
                <li class="sort title-descending"><a href="{% if collection.handle == "all" %}/collections/all{% else %}{{ collection.url }}{% endif %}/?sort_by=title-descending">{{'collections.sorting.za'|t}}</a></li>
                <li class="sort created-ascending"><a href="{% if collection.handle == "all" %}/collections/all{% else %}{{ collection.url }}{% endif %}/?sort_by=created-ascending">{{'collections.sorting.date_ascending'|t}}</a></li>
                <li class="sort created-descending"><a href="{% if collection.handle == "all" %}/collections/all{% else %}{{ collection.url }}{% endif %}/?sort_by=created-descending">{{'collections.sorting.date_descending'|t}}</a></li>
                <li class="sort best-selling"><a href="{% if collection.handle == "all" %}/collections/all{% else %}{{ collection.url }}{% endif %}/?sort_by=best-selling">{{'collections.sorting.best_selling'|t}}</a></li>
              </ul>
            </div>
          </div>        
          {% endif %}
        </div>
      </div>
    </div>       
    </div> 
    {% endpaginate %}
    <div class="collection-content">
      {% paginate collection.products by section.settings.pagination_limit %}       
      <div class="collection-leftsidebar sidebar col-sm-3 clearfix">
        <div class="collection-leftsidebar-group">
          {% include 'collection-leftsidebar' %}
        </div>        
      </div>
      <div class="collection-mainarea  col-sm-9 clearfix"> 
        <div class="collection-toolbar _desktop">
          {% if section.settings.collection_banner %}
          <a href="{{ section.settings.collection_banner_link }}" class="collection-banner-top">
            <img src="{{ section.settings.collection_banner | img_url: '', crop: '' | split:'?v=' | first }}" alt="{{ section.settings.collection_banner.alt }}" title="{{ section.settings.collection_banner.alt }}">
          </a>
          {% endif %}
          <div class="group_toolbar">
            <div class="group-left">
              <div class="filter-mobile">
                <a href="javascript:void(0)" class="filter-icon"> 
                  <span class="cs-icon icon-filter"></span>
                </a>
              </div>
              <!-- Sort by -->
              {% if section.settings.collection_sort and collection.products_count > 1 %}
              <div class="sortBy">
                <div id="sortButtonWarper" class="dropdown-toggle" data-toggle="dropdown">
                  <span class="toolbar-title">{{'collections.sorting.title'|t}}</span>
                  <button id="sortButton">
                    <span class="name">{{'collections.sorting.featured'|t}}</span><i class="fa fa-caret-down"></i>
                  </button>
                  <i class="sub-dropdown1"></i>
                  <i class="sub-dropdown"></i>
                </div>
                <div id="sortBox" class="control-container dropdown-menu">
                  <ul id="sortForm" class="list-unstyled option-set text-left list-styled" data-option-key="sortBy">
                    <li class="sort manual"><a href="{% if collection.handle == "all" %}/collections/all{% else %}{{ collection.url }}{% endif %}/?sort_by=manual">{{'collections.sorting.featured'|t}}</a></li>
                    <li class="sort price-ascending"><a href="{% if collection.handle == "all" %}/collections/all{% else %}{{ collection.url }}{% endif %}/?sort_by=price-ascending">{{'collections.sorting.price_ascending'|t}}</a></li>
                    <li class="sort price-descending"><a href="{% if collection.handle == "all" %}/collections/all{% else %}{{ collection.url }}{% endif %}/?sort_by=price-descending">{{'collections.sorting.price_descending'|t}}</a></li>
                    <li class="sort title-ascending"><a href="{% if collection.handle == "all" %}/collections/all{% else %}{{ collection.url }}{% endif %}/?sort_by=title-ascending">{{'collections.sorting.az'|t}}</a></li>
                    <li class="sort title-descending"><a href="{% if collection.handle == "all" %}/collections/all{% else %}{{ collection.url }}{% endif %}/?sort_by=title-descending">{{'collections.sorting.za'|t}}</a></li>
                    <li class="sort created-ascending"><a href="{% if collection.handle == "all" %}/collections/all{% else %}{{ collection.url }}{% endif %}/?sort_by=created-ascending">{{'collections.sorting.date_ascending'|t}}</a></li>
                    <li class="sort created-descending"><a href="{% if collection.handle == "all" %}/collections/all{% else %}{{ collection.url }}{% endif %}/?sort_by=created-descending">{{'collections.sorting.date_descending'|t}}</a></li>
                    <li class="sort best-selling"><a href="{% if collection.handle == "all" %}/collections/all{% else %}{{ collection.url }}{% endif %}/?sort_by=best-selling">{{'collections.sorting.best_selling'|t}}</a></li>
                  </ul>
                </div>
              </div>        
              {% endif %}
            </div>
            <!-- View as -->
            {% if section.settings.collection_grid_list %}           
            <div class="grid_list">              
              <ul class="list-inline option-set hidden-xs" data-option-key="layoutMode">
                <li data-option-value="fitRows" id="goGrid" class="active goAction" data-toggle="tooltip" data-placement="top" title="Grid">
                  <i class="icon-small icon-small-grid"></i>
                </li>
                <li data-option-value="straightDown" id="goList" class="goAction" data-toggle="tooltip" data-placement="top" title="List">
                  <i class="icon-small icon-small-list"></i>
                </li>
              </ul>
            </div>
            {% endif %}
          </div>
        </div> 
        <div class="collection-items clearfix">
          <div class="products">
            {% for product in collection.products %}
            {% include 'collection-product' with collection.handle %}
            {% endfor %}
          </div>                  
        </div>
        <div class="collection-bottom-toolbar">
          <div class="product-counter col-sm-6">
            {% if paginate.current_page == 1 %} {% capture xnumber %}1{% endcapture%}
            {% else %} {% capture xnumber %} {{paginate.current_page | minus:1 | times: section.settings.pagination_limit | plus: 1}} {% endcapture%}
            {% endif %}
            {% capture ynumber%}{{paginate.current_page | times: section.settings.pagination_limit}} {% endcapture%}
            {% if paginate.pages == paginate.current_page %} {% capture ynumber %} {{collection.products_count}} {% endcapture%}{%endif%}  
            {{'collections.general.showing'|t:x:xnumber,y:ynumber,z:collection.products_count}}
          </div>
          <div class="product-pagination col-sm-6">
            {% include 'pagination' %}
          </div>
        </div>
      </div>
      {% endpaginate %}
    </div>
  </div>
</div>

<script type="text/javascript">

  /* Handle Grid - List */
  function handleGridList(){

    if($('#goList').length){
      $('#goList').on(clickEv, function(e){
        $(this).parent().find('li').removeClass('active');
        $(this).addClass('active');
        $('.collection-items').addClass('listMode');
        $('.collection-items').removeClass('gridMode');
        $('.collection-items .row-left').addClass('col-md-5');
        $('.collection-items .row-right').addClass('col-md-7');
        $('.collection-items .product-item').removeClass('col-sm-3 col-sm-4');
        $('.grid-mode').addClass("hide");
        $('.list-mode').removeClass("hide");
      });
    }

    if($('#goGrid').length){
      $('#goGrid').on(clickEv, function(e){
        $(this).parent().find('li').removeClass('active');
        $(this).addClass('active');
        $('.collection-items').removeClass('listMode');
        $('.collection-items').addClass('gridMode');
        $('.collection-items .row-left').removeClass('col-md-5');
        $('.collection-items .row-right').removeClass('col-md-7');
        {% if section.settings.products_per_row == '3' %}
        $('.collection-items .product-item').addClass('col-sm-4');
        {% else%}
        $('.collection-items .product-item').addClass('col-sm-3');
        {% endif %}
        $('.grid-mode').removeClass("hide");
        $('.list-mode').addClass("hide");
      });
    }
  }

  $(document).ready(function() {
    if(location.search.search("sort_by=") == -1){

    }
    else{
      if(location.search != ""){
        var stpo = location.search.search("sort_by=")+8, sortby_url = '.'+location.search.substr(stpo).split('='), sortby_url_a = sortby_url+" a";
        $(sortby_url).addClass("active");
        $('#sortButton .name').html($(sortby_url_a).html());
      }
      else{
        $('.manual').addClass("active");
      }
    }

    handleGridList();
  });
</script>
{% schema %}
{
  "name": "Collection page",
  "settings": [
    {
      "type": "header",
      "content": "Collection Setting"
    },
    {
      "type": "checkbox",
      "id": "collection_grid_list",
      "label": "Display View as List\/Grid",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "collection_sort",
      "label": "Enable Sort by",
      "default": true
    },
    {
      "type": "image_picker",
      "id": "collection_banner",
      "label": "Upload banner top"
    },
    {
      "type": "url",
      "id": "collection_banner_link",
      "label": "Link banner top"
    },
    {
      "type": "header",
      "content": "Collection Page Layout"
    },
    {
      "type": "select",
      "id": "products_per_row",
      "label": "Products per row",
      "options": [
        {
          "value": "3",
          "label": "3"
        },
		{
          "value": "4",
          "label": "4"
        }
      ],
      "default": "4"
    },
    {
      "type": "select",
      "id": "pagination_limit",
      "label": "Pagination limit",
      "options": [
        {
          "value": "12",
          "label": "12"
        },
        {
          "value": "18",
          "label": "18"
        },
        {
          "value": "24",
          "label": "24"
        },
        {
          "value": "30",
          "label": "30"
        }
      ],
      "default": "12"
    }
  ]
}
{% endschema %}