<section class="footer-layout" style="background-image:  url({% if section.settings.background_footer %}{{ section.settings.background_footer | img_url: '', crop: '' | split:'?v=' | first }}{% else %}{{ '1920x525.png' | asset_url | split:'?v=' | first }}{% endif %});">  
  <div class="footer-wrapper">
    <div class="container">
      <div class="row">
        <div class="footer-content-inner">
          <div class="footer-content">
            {% if section.settings.logo_enable %}
            <div class="logo-content not-animated" data-animate="fadeIn" data-delay="100">
              {% if section.settings.logo_image %}
              <a href="/"><img src="{{ section.settings.logo_image | img_url: "", crop: '' | split:'?v=' | first }}" alt="{{ section.settings.logo_image.alt }}" title="{{ shop.name }}" /></a>
              {% endif %}
            </div>
            {% endif %}
            {% if section.settings.social_enable %}
            <div class="social-content not-animated" data-animate="fadeIn" data-delay="200">
              {% if section.settings.social_facebook_link != blank %}<a href="{{ section.settings.social_facebook_link }}" title="{{ 'layout.footer.social' | t: shop: shop.name, social_media: 'Facebook' }}" class="icon-social facebook"><i class="cs-icon icon-social-facebook"></i></a>{% endif %}
              {% if section.settings.social_twitter_link != blank %}<a href="{{ section.settings.social_twitter_link }}" title="{{ 'layout.footer.social' | t: shop: shop.name, social_media: 'Twitter' }}" class="icon-social twitter"><i class="cs-icon icon-social-twitter"></i></a>{% endif %}            
              {% if section.settings.social_google_plus_link != blank %}<a href="{{ section.settings.social_google_plus_link }}" title="{{ 'layout.footer.social' | t: shop: shop.name, social_media: 'Google+' }}" class="icon-social google-plus"><i class="cs-icon icon-social-googleplus"></i></a>{% endif %}                        
              {% if section.settings.social_pinterest_link != blank %}<a href="{{ section.settings.social_pinterest_link }}" title="{{ 'layout.footer.social' | t: shop: shop.name, social_media: 'Pinterest' }}" class="icon-social pinterest"><i class="cs-icon icon-social-pinterest"></i></a>{% endif %}
              {% if section.settings.social_instagram_link != blank %}<a href="{{ section.settings.social_instagram_link }}" title="{{ 'layout.footer.social' | t: shop: shop.name, social_media: 'Instagram' }}" class="icon-social instagram"><i class="cs-icon icon-social-instagram"></i></a>{% endif %}                                    
              {% if section.settings.social_youtube_link != blank %}<a href="{{ section.settings.social_youtube_link }}" title="{{ 'layout.footer.social' | t: shop: shop.name, social_media: 'Youtube' }}" class="icon-social youtube"><i class="cs-icon icon-social-youtube"></i></a>{% endif %}	
              {% if section.settings.social_wordpress_link != blank %}<a href="{{ section.settings.social_wordpress_link }}" title="{{ 'layout.footer.social' | t: shop: shop.name, social_media: 'Wordpress' }}" class="icon-social wordpress"><i class="cs-icon icon-social-wordpress"></i></a>{% endif %}
              {% if section.settings.social_vimeo_link != blank %}<a href="{{ section.settings.social_vimeo_link }}" title="{{ 'layout.footer.social' | t: shop: shop.name, social_media: 'Vimeo' }}" class="icon-social vimeo"><i class="cs-icon icon-social-vimeo"></i></a>{% endif %}	
              {% if section.settings.social_tumblr_link != blank %}<a href="{{ section.settings.social_tumblr_link }}" title="{{ 'layout.footer.social' | t: shop: shop.name, social_media: 'Tumblr' }}" class="icon-social tumblr"><i class="cs-icon icon-social-tumblr"></i></a>{% endif %}
            </div>
            {% endif %}
            {% if section.settings.newsletter_enable %}
            <div class="newsletter-content not-animated" data-animate="fadeIn" data-delay="300">
              <div class="newsletter-form">
                <form action="{{ section.settings.newsletter_action }}" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" target="_blank">                    
                  <input type="email" class="form-control" value="" name="EMAIL" id="mail" placeholder="{{ section.settings.newsletter_placeholder }}" />
                  <button type="submit" class="btn_newsletter_send" name="subscribe" id="subscribe"><i class="cs-icon icon-email"></i></button>
                </form>
              </div>
            </div>
            {% endif %}
            <div class="copyright">{{ 'layout.footer.copyright' | t }} &copy; {{ 'now' | date: "%Y" }} {{ shop.name | link_to: '/' }}. {{ 'layout.footer.reserved' | t }}</div>  
          </div>
        </div>        
      </div>
    </div>
  </div>
</section>

{% schema %}
{
  "name": "Footer",
  "settings": [
	{
      "type": "image_picker",
      "id": "background_footer",
      "label": "Upload background footer"
    },
    {
      "type": "header",
      "content": "Logo Footer"
    },
    {
      "type": "checkbox",
      "id": "logo_enable",
      "label": "Set active this block"
    },
    {
      "type": "image_picker",
      "id": "logo_image",
      "label": "Upload logo footer"
    },
	{
      "type": "header",
      "content": "Social"
    },
    {
      "type": "checkbox",
      "id": "social_enable",
      "label": "Set active this block"
    },
    {
      "type": "text",
      "id": "social_twitter_link",
      "label": "Twitter",
      "info": "https:\/\/twitter.com\/shopify"
    },
    {
      "type": "text",
      "id": "social_facebook_link",
      "label": "Facebook",
      "info": "https:\/\/www.facebook.com\/shopify"
    },
    {
      "type": "text",
      "id": "social_pinterest_link",
      "label": "Pinterest",
      "info": "https:\/\/www.pinterest.com\/shopify"
    },
    {
      "type": "text",
      "id": "social_google_plus_link",
      "label": "Google+",
      "info": "https:\/\/plus.google.com\/+shopify"
    },
    {
      "type": "text",
      "id": "social_instagram_link",
      "label": "Instagram",
      "info": "https:\/\/instagram.com\/shopify"
    },
    {
      "type": "text",
      "id": "social_tumblr_link",
      "label": "Tumblr",
      "info": "http:\/\/shopify.tumblr.com"
    },
    {
      "type": "text",
      "id": "social_youtube_link",
      "label": "YouTube",
      "info": "https:\/\/www.youtube.com\/user\/shopify"
    },
    {
      "type": "text",
      "id": "social_wordpress_link",
      "label": "Wordpress",
      "info": "http:\/\/wordpress.org\/"
    },
    {
      "type": "text",
      "id": "social_vimeo_link",
      "label": "Vimeo",
      "info": "https:\/\/vimeo.com\/shopify"
    },
    {
      "type": "header",
      "content": "Newsletter"
    },
    {
      "type": "checkbox",
      "id": "newsletter_enable",
      "label": "Set active this block"
    },
    {
      "type": "textarea",
      "id": "newsletter_action",
      "label": "Mailchimp form action URL",
      "info": "[Find your MailChimp form action URL](https:\/\/docs.shopify.com\/manual\/configuration\/store-customization\/communicating-with-customers\/accounts-and-newsletters\/get-a-mailchimp-form-action-url)."
    },
    {
      "type": "text",
      "id": "newsletter_placeholder",
      "label": "Placeholder text"
    }
  ]
}
{% endschema %}